<div class="container">
  <h2>&nbsp; {{city|titlecase}} Requests</h2>
  <div *ngFor  =" let order of orderList">
    <!--  <p-card header="{{order.userName}}">-->
    <div class="card p-2 m-2" >
      <p>
Name : {{order.n}}<br>
        Address : {{order.a}}<br>
        Phone : {{order.p}}<br>
        City: {{order.c}}<br>
        Description: {{order.d}}<br>
        Date: {{order.datetime}}<br>
<!--        Address: {{order.s}}<br>-->
<!--        Install Date: {{order.datetime}}</p>-->
    </div>

  </div>
</div>
